.col-1-4 {
    width: 25%;
  }
  .moviesstyle{
      padding-top: 2%;
      padding-bottom:2%;
  }
  .cardpostion{
      margin-right: 1%;
      margin-bottom: 1%;
      margin-top: 10%;
      box-shadow: 1%;
  }
  .bottomfont{
    font-size: small;
    /* background-color: gray; */
    color: white;
  }
  .bottomtext{
    /* line-height: 2.5ex;  */
    height: 2.5ex; 
    overflow: hidden;
    /* background-color: gray; */
    color: white;
    /* text-overflow: ellipsis; */
  }
  .imagestyle{
    padding-left: 5% ;
    padding-right: 5%;
  }

  h2{
    text-align: center;
    padding-top: 15%;
  }
  